.layoutContainer {
	width: 100%;
	height: 100%;
}
.layout {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	object-fit: cover;
	object-position: center;
}
.image {
	z-index: 10;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}