$accent-color: #ead861;

.features {
	position: absolute;
	inset-block-end: 22px;
	inset-inline-end: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 12px;
	color: $accent-color;
	font-family: 'Oswald', 'Arial', serif;
}

.feature {
	position: relative;
	font-size: 13px;

	$pseudo-offset: 5px;

	&::before {
		inset-inline-start: $pseudo-offset;
	}

	&::after {
		inset-inline-end: $pseudo-offset;
	}

	&::after, &::before {
		position: absolute;
		inset-block-start: 1px;
		display: block;
		width: 9px;
		aspect-ratio: 1/1;
	}
}

.featureLevel {
	&::before {
		content: url("./images/level.svg");
	}
}

.featureLoot {
	&::after {
		content: url("./images/loot.svg");
	}
}

.featureHands {
	&::before {
		content: url("./images/hands.svg");
	}
}

.featureWeight {
	&::after {
		content: url("./images/weight.svg");
	}
}
