$card-width: 162px;
$card-height: 237px;
$card-border-radius: 10px;

.card {
	position: relative;
	inline-size: $card-width;
	block-size: $card-height;
	overflow: hidden;
	border-radius: $card-border-radius;
	user-select: none;
}

.image {
	padding: 8% 5% 22%;
}

.content {
	grid-template-rows: 11% 74% 12%;
	grid-template-areas: 'strength' '.' 'special';
}


