$title-height: 33px;
$title-width: 0.9;

.title {
	display: flex;
	grid-area: title;
	justify-content: center;
	align-items: center;
	color: black;
	font-weight: 700;
	font-size: 10px;
	font-family: 'Oswald', 'Arial', serif;
	background-image: url('@images/card/textCanvas.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	padding-block-end: 2px;
}

.titleCompressed {
	font-size: 7px;
	padding: 0;
}