.inventory {
	display: grid;
	grid-template-rows: 29% 39% 32%;
	grid-template-columns: 29% 42% 29%;
	width: 100%;
	padding: 15px 10px;
	background-image: url('@images/inventory/inventory.webp');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	aspect-ratio: 1/1;
}

.status {
	text-align: center;
	padding: 20px 20px;
	font-size: 30px;
	color: var(--accent-text-color);
}


