.inventory {
	--inventory-score-offset: 11.25cqw;

	container-type: inline-size;
	display: grid;
	grid-template-rows: 29% 39% 32%;
	grid-template-columns: 29% 42% 29%;
	width: 100%;
	padding: 15px 10px;
	background-image: url('@images/inventory/inventory.webp');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	aspect-ratio: 1/1;
}

.status {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: var(--inventory-score-offset);
	font-size: 30px;
	color: var(--accent-color-text);
}


