$image-height: 0.7;
$card-width: 162px;
$card-height: 237px;
$card-border-radius: 10px;
$card-offset: 5px;
$accent-color: #cbbb30;
$accent-color-basic: rgb(136, 135, 135);
$accent-color-beast: rgb(178, 66, 22);
$accent-color-plant: rgb(123, 166, 19);
$accent-color-magical: rgb(43, 85, 192);
$accent-color-undead: rgb(47, 133, 140);
.hoverEffect {
	&:hover {
		z-index: 40;
		.card{
			transition: transform 0.3s linear;
			transform: scale(1.9) translate(0, -50px);
		}
	}
}
.card {
	position: relative;
	inline-size: $card-width;
	block-size: $card-height;
	transform-style: preserve-3d;
	user-select: none;
	border-radius: $card-border-radius;
	overflow: hidden;
	// &:hover {
	//	.front {
	//		transform: perspective(1000px) rotateY(-180deg);
	//		transition: transform 0.5s ease;
	//	}
	//	.back {
	//		transform: perspective(1000px) rotateY(0deg);
	//		transition: transform 0.5s ease;
	//	}
	//}
}

.front, .back {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transition: transform 0.5s ease 0.5s;
}

.front {
	z-index: 1;
	transform: perspective(1000px) rotateY(0deg);
	perspective: 1000px;
}

.back {
	transform: perspective(1000px) rotateY(180deg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.image {
	padding: 8% 5% 45%;
}
.content {
	grid-template-areas: 'strength' '.' 'title' 'flavour_text' 'special';
	grid-template-rows: 10% 58% 8% 15% 5%;
}