:root{
	--accent-text-color: #e3d49e;
	--accent-color: #cbbb30;
	--accent-color-basic: rgb(136 135 135);
	--accent-color-beast: rgb(178 66 22);
	--accent-color-plant: rgb(123 166 19);
	--accent-color-magical: rgb(43 85 192);
	--accent-color-undead: rgb(47 133 140);
}