.flavourText {
	display: flex;
	grid-area: flavour_text;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 21px 5px;
	color: var(--accent-color-text);
	font-weight: 400;
	text-align: center;
}
.flavourTextAround {
	justify-content: space-around;
}

.flavourText_title {
	color: #ffc200;
	font-weight: 700;
}

.ability, .punishment, .equipmentText {
	margin: 0;
	font-size: 8px;
	padding: 0 5px;
}

.baseFont {
	font-size: 6px;
}

.compressedFont {
	font-size: 5.5px;
}