@font-face {
  font-weight: 700;
  font-family: "OpenSans";
  font-style: normal;
  src: url("@/shared/assets/fonts/OpenSans-Bold.woff2") format("woff2");
}

html,
body {
  display: flex;
  padding: 50px;
  font-family: "OpenSans", sans-serif;
  background: white;
}
