.modal {
	position: absolute;
	inset-block-start: 50%;
	inset-inline-start: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	background-image: url('@images/modal.webp');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 1;
	transition: scale 0.2s ease, opacity 0.2s ease;
	translate: 0 -50%;
	aspect-ratio: 1/1;
	scale: 1 0;
}

.modalOpen {
	scale: 1 1;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
	height: 100%;
	padding: 20px;
}

.modalFont {
	font-size: 20px;
}

.modalTitle {
	width: 100%;
	height: 50px;
	font-size: 18px;
}
